body{
    background-color: #003366;
}

.verst table{
    padding: 0px;
    border-collapse: collapse;
    /**/
    border: 0px solid grey;
    width: 100%; 
}
.verst tr{
    width: 100%;
    color: aqua;
    border: 1px solid grey;
    text-align: center;
    align-content: center;
}
.verst td{
    color: aqua;
    border: 1px solid grey;
    vertical-align: top;
}
.verst p{
    padding: 0px;
    text-align: right;
    padding-right: 40px;
}

button{
    margin: 4px;
    width: 250px;
    height: 30px;
    color: aqua;
    background-color: #000066;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    transition: background 3;
    }

  button:active {
    background: #3300CC;
    transition: background 0s;
}
textarea{
    background-color: #000066;
    width: 50%;
    height: 300px;
    color: aliceblue;
}
